
/* reading is from top to bottom */
@import "partials/variables";
@import "partials/animation";
@import "partials/nav";
@import "partials/modals";
@import "partials/toasts";
@import "partials/buttons";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*reset*/
.form-control {
	&:focus {
		box-shadow: none;
	}
}

body {
	align-items: center;
	background: $lighter_gray;
	display: flex;
	flex-direction: column;

	#banner {
		font-family: $dohyeon_font;
		position: relative;
		width: 861px;
		
		h1 {
			color: $black_secondary;
			font-size: 48px;
			width: 264px;
			
			#adopt {
				color: $light_pink;
			}
			
			#shop {
				color: $light_gray_secondary;
			}
		}
	
		p {
			color: $light_gray_secondary;
			width: 300px;
		}
		
		img {
			position: absolute;
			right: 0px;
			top: 0px;
			width: 595.32px;
		}
		
	}
	
	main {
		font-family: $kanit_font;
		margin: 60px 0px 0px 0px;
		width: 861px;
		
		h2 {
			font-size: 24px;
			margin: 0px 0px 30px 0px;
			text-align: center;
		}
	
		table {
			width: 100%;
			
			tr {
				align-items: center;
				background: #fff;
				box-shadow: 0px 8px 40px 0px rgba(34, 69, 82, 0.05);
				display: flex;
				height: 69px;
				justify-content: space-between;
				margin: 0px 0px 5px 0px;
				
				td {
					
					&.pet_name {
						margin: 0px 0px 0px 24px;
						width: 230px;
					}
					
					&.pet_type {
						width: 100px;
					}
					
					&.actions {
						display: flex;
						justify-content: space-between;
						margin: 0px 24.5px 0px 0px;
	
						button {
							background: transparent;
							border:none;
							color: $light_gray_secondary;
							font-size: 18px;
						
							i {
								
								&.fas,&.far {
									margin: 0px 14px 0px 34px;
								}
						
							}
							&:hover {
								color: $light_gray_secondary;
							}
						}
					}
				}
			}
		}
	}
	
	footer {
		color: $light_gray_secondary;
		font: 14px/21px $kanit_font;
		letter-spacing: 2px;
		margin: 50px 0px;
		text-align: center;
		
		a {
			color: $light_pink;
		}
	}
	
	
	
}


