/*variables*/
$black: #333333;
$black_secondary: #141414;
$dohyeon_font: "Do Hyeon", sans-serif;
$kanit_font: "Kanit", sans-serif;
$light_gray_secondary: #bdbdbd;
$light_gray: #e5e5e5; /*background*/
$light_pink: #ff5c4c;
$lighter_gray: #f5f9fa;
$white:#fff;